* {
    -fx-primary: rgba(42, 46, 55, 1);
    -fx-secondary: rgba(68, 75, 89, 1);
    -fx-primary-text: rgba(178, 178, 178, 1);
    -fx-overlay: rgba(127, 127, 127, 0.75);
    -fx-overlay-text: rgba(255, 255, 255, 1);
    -fx-overlay-text-border: rgba(0, 0, 0, 1);
    -fx-invisible: rgba(0, 0, 0, 0);
}

AnchorPane {
    -fx-background-color: -fx-primary;
    -fx-background: -fx-primary;
}

.scroll-pane {
    -fx-background-color: -fx-primary;
    -fx-background: -fx-primary;
}

.jfx-rippler {
    -jfx-rippler-fill: -fx-secondary;
}


#download-title {
    -fx-font: 18px "Arial";
    -fx-fill: -fx-primary-text;
}

#download-text {
    -fx-font: 14px "Arial";
    -fx-fill: -fx-primary-text;
}

#description, #status {
    -fx-font: 16px "Arial";
    -fx-fill: -fx-primary-text;
}

#title {
    -fx-font: 24px "Arial";
    -fx-fill: -fx-primary-text;
}

.jfx-button {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primary-text;
    -fx-font-size: 14px;

    -jfx-rippler-fill: -fx-primary;
    -jfx-button-type: RAISED;
}

.glyph-icon {
    -fx-fill: -fx-primary-text;
}

.tab-label {
    -fx-text-fill: -fx-primary-text;
}

.tab-header-background, .jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: -fx-primary;
}


#layer {
    -fx-background-color: -fx-invisible;
}

#layer:hover {
    -fx-background-color: -fx-overlay;
}

#show-text {
    -fx-font: 18px "Arial Black";
    -fx-fill: -fx-overlay-text;
    -fx-stroke: -fx-overlay-text-border;
    -fx-stroke-width: 1;
    -fx-stroke-type: centered;
    visibility: hidden;
}

#episode-text {
    -fx-font: 14px "Arial Black";
    -fx-fill: -fx-overlay-text;
    -fx-stroke: -fx-overlay-text-border;
    -fx-stroke-width: 1;
    -fx-stroke-type: centered;
    visibility: hidden;
}

#layer:hover #episode-text, #layer:hover #show-text {
    visibility: visible;
}

.jfx-radio-button {
    /*-fx-border-color: red;*/
}